body {
  background: #f4f7fa;
  font-family: 'Segoe UI', sans-serif;
}

.title {
  color: #2c3e50;
  text-align: center;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
}

#date {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: 500;
  color: #555;
  padding: 10px;
}

.navbar {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.nav-link {
  font-weight: 500;
  color: #2c3e50 !important;
}

.container {
  padding: 10px;
}

.form-control {
  margin-bottom: 1rem;
}

.btn-secondary {
  background-color: #2575fc;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
  background-color: #1a5edc;
}

hr {
  border-color: #ddd;
  margin: 3rem 0;
}

#login_page {
  max-width: fit-content;
  margin-left: 5%;
  margin-right: auto;
}

#form {
  max-width: 90%;
  margin: 0 auto 10px auto;
}

#form_text {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

#posts {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  max-width: 90%;
  margin-left: 7%;
}

#post_title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2980b9;
  max-width: 90%;
  padding: 1%;
}

#post_title:hover {
  text-decoration: underline;
}

#post_summary {
  font-size: 1rem;
  color: #555;
  margin-top: 1%;
  max-width: 90%;
}

.post-meta {
  font-size: 0.9rem;
  color: #888;
}

.profile {
  max-width: 80%;
  margin: 3% auto;
}

.form-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  margin: 0 auto 3rem auto;
}

.form-container {
  background-color: white;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

.error {
  background-color: #fff;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

.error h2 {
  font-size: 2.5rem;
  color: #e74c3c;
  margin-bottom: 1rem;
}

.error h4 {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.error img {
  width: 100px;
  height: auto;
  opacity: 0.8;
}

.inner-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: 10px;
}

.text {
  padding-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
}

.msg-message {
  color: green;
  text-align: center;
}

.profile-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.profile-card h4 {
  margin-bottom: 1rem;
  color: #34495e;
}

.profile-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
}
