.title{
    padding: 1%;
}

#date{
    padding: 10px;
}

.container{
    padding: 10px;
}

.text{
    padding-top: 10px;
}

.inner-image{
    width: 350px; 
    height: 350px; 
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 10px;
}

#login_page{
    max-width: fit-content;
    margin-left: 5%;
    margin-right: auto;
}

#form{
    margin-bottom: 10px;
}

#posts{
    margin-left: 7%;
}

#post_title{
    padding: 1%;
}

#post_summary{
    margin-top: 1%;
}