<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Edit Post</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <main class="container">
    <div id="date"></div>
    <h1 class="title">Edit Posts</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/newspaper.jpg') }}" width="50" height="50" alt="Logo" />
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('pages.home') }}">Archive</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('pages.profile') }}">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('pages.addpost') }}">Add Post</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('pages.editpost') }}">Edit Post</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="form-card">
      <form action="{{ url_for('pages.editpost') }}" method="POST">
        <h4 class="mb-3">Your Post/Link</h4>
        <input class="form-control" type="text" placeholder="Link" name="post-link" value="{{ post_data['Permalink'] if post_data else '' }}">
        <input class="btn btn-secondary btn-block" type="submit" name="load-post" value="Load Post">
        
        <h4 class="mt-4 mb-3">Your Edits</h4>
        <input class="form-control" type="text" placeholder="{{ post_data['Title'] if post_data else 'Title' }}" name="post-title" value="{{ post_data['Title'] if post_data else '' }}">
        <input class="form-control" type="text" placeholder="{{ post_data['Author'] if post_data else 'Author' }}" name="post-author" value="{{ post_data['Author'] if post_data else '' }}">
        <input class="form-control" type="text" placeholder="{{ post_data['Content'] if post_data else 'Content' }}" name="post-content" value="{{ post_data['Content'] if post_data else '' }}">
        <input class="form-control" type="text" placeholder="{{ post_data['Tags'] if post_data else 'Tags (Separate By Commas)' }}" name="post-tags" value="{{ post_data['Tags'] if post_data else '' }}">
        <input class="btn btn-secondary btn-block" type="submit" name="update-post" value="Update Post">

        {% if error1 %}
          <p id="form_text">{{ error1 }}</p>
        {% endif %}
      </form>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
